header {
    width : 100%; 
    height: 100%;


    position : fixed;
    top: 0;
    left : 0; 

    background:red ;
}

nav {
    width: 100%;
    height: 50px;

    background: blue;
    position: fixed;

    top: 100px;
    left: 0;
}

article {
    background: yellow;
    position: fixed;
    
    top: 150px;
    left: 0;

    width: 80%;
    height: 100%;

}


aside{
    background: grey;
    position: fixed;

    top: 150px;
    right: 0;
    width: 20%;
    height: 100%;

}

footer{

    background: green;
    position: fixed;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 50px;

}